.heading{
    color: orangered;
}

.heading-two:hover{
    font-weight: bolder;
    cursor: pointer;
}

.hover:hover{
    width: 80%;
}
.footer{
    background-color: orangered;
}
.font{
    font-size: x-small;
    
}