.card-element{
    
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    
    }
    .heading{
        color: orangered;
    }
    
    .content{
        
            min-height: 90vh;
            width: 100%;
            background: rgba(0,0,0,0.7) url('');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            -webkit-background-size:cover ;
            -moz-background-size:cover;
            -moz-background-size:cover ;
            top:0%;
            padding-top: 200px;
            
            
    }
    .content-two{
        
            min-height: 90vh;
            width: 100%;
            background: rgba(0,0,0,0.7) url('');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            -webkit-background-size:cover ;
            -moz-background-size:cover;
            -moz-background-size:cover ;
            top:0%;
            padding-top: 200px;
            
            
    }